body{
    color: #000000;
    line-height:1.7em;
    font-weight:400;
    background: #ffffff;
    margin: 100px auto;
    width: 900px;
}

.heading{
    font-family: Trebuchet MS, sans-serif;
    font-size: 30px;
}

p{
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}

.list{
    font-family: Trebuchet MS, sans-serif;
    font-size: 22px;
}

#jump{
    font-family: Dialog, serif;
    font-size: 20px;
}

h1{
    font-family: Trebuchet MS, sans-serif;
    font-style: italic;
    font-size: 40px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}


