*{
    padding: 0;
    margin: 0;
}
body{
    transition: all 1s;
    margin-top: 30px;
}

#main{
    color: #000000;
    line-height:1.7em;
    font-weight:400;
    background: #ffffff;
}

.heading{
    font-family: Trebuchet MS, sans-serif;
    font-size: 30px;
    margin-left: 25%;
}
p{
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    max-width: 900px;
    margin-left: 25%;
    text-align-all: center;
}
.list{
    margin-left: 27%;
}
#jump{
    font-family: Dialog, serif;
    font-size: 20px;
    margin-left: 28%;
}
h1{
    font-family: Trebuchet MS, sans-serif;
    font-style: italic;
    font-size: 40px;
}
a{
    color: orangered;
    font-size: 25px;
    font-family: Tahoma, fangsong;
    text-decoration: none;
}
img{
    max-width: 800px;
    max-height: 500px;
    display: block;
    margin: auto auto auto 27%;
}

#nav{
    background: #ffeac6;
    text-align: center;
    width: 100%;
    height: 60px;
    font-size: 50px;
    position: fixed;
    top: 0;
    display: none;
}

.nav-sun{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    float: right;
    background-color: #eeeeee;
    text-align: center;
    line-height: 30px;
    margin-right: 90px;
    margin-top: 20px;
}
