@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663040125006') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-yueliang:before {
  content: "\e611";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-guanzhu-yiguanzhu:before {
  content: "\e703";
}

.icon-pinglun:before {
  content: "\e8c5";
}

